@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@1&family=Nunito:wght@300&display=swap');

body {
    font-family: Alegreya, sans-serif;
    font-size: 1em;
}

header {
    height: 300px;
    background: url('../images/header.jpg') no-repeat center center;
    background-color: green;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: nunito, sans-serif;
    font-size: 80px;
    text-align: center;
    color: orange;
}

nav {
    text-align: center;
    display: flex;
    justify-content: center;
}

.nav-a {
    color: black;
    background-color: orange;
    padding: 4px;
    margin: auto 2px;
    border: solid black 1px;
    text-decoration: none;
    position: relative;
    top: 15px;
    display: flex;
    align-items: center;
}

.nav-a:hover {
    background-color: greenyellow;
    color: black;
}

.heading {
    margin-top: 30px;
    color: green;
    font-family: nunito, sans-serif;
    text-align: center;
}

/* Home Page*/

#why-visit {
    text-align: center;
}

#why-visit-p {
    margin: auto 10%;
    margin-bottom: 2%;
}

.why-visit-photos { 
    width: 20vw;
    margin: 3px;
}

#where {
    margin-top: 5%;
    text-align: center;
}

#national-parks-map {
    width: 500px;
    height: 600px;
}

#table-div {
    text-align: center;
    margin-top: 5%;
}

table {
    border: 1px black solid;
    margin: auto;
}

td, tr, th {
    border: 1px black solid;
    padding: 0 10px;
    background-color: orange;
}

/*Footer*/

footer {
    height: 50px;
    background-color: lightgreen;
    margin: auto;
}

.footer-list {
    padding-top: 10px;
}

.footer-list > li {
    display: inline;
}

.footer-list i {
    font-size: 200%;
    margin: 0 50px;
    color: black;
}

li > a {
    float: right;
}

#footer-list-p {
    font-size: 20px;
}


/*National Parks*/

#name {
    text-align: center;
    margin: 0% 5%;
}

iframe {
    height: 75vh;
    width: 65vw;
    margin-top: 3%;
}

.recommended {
    margin: auto 15%;
    display: flex;
    justify-content: space-between;
}

.recommended > div {
    width: 230px;
    vertical-align: middle;
}

.hike-rec {
    background-color: greenyellow;
    border: 3px solid black;
    width: 33%;
    padding: 5px 5px 20px ;
}

h3 {
    border: 1px solid black;
}

ol {
    float: left;
    margin-left: 10%;
}

ol > li {
    padding-bottom: 5%;
}

.hike-link-div {
    text-align: center;
}

.hike-link {
    color: black;
    background-color: orange;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 20px;
    text-decoration: none;
}

.div-parks-images {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

figure {
    margin: 0;
}

.parks-images {
    width: 15vw;
    height: 162px;
    border-radius: 50%;
}

figcaption {
    max-width: 210px;
}

/*Sign-up Form*/

#sign-up-heading {
    color: green;
    margin-top: 40px;
    font-family: nunito, sans-serif;
}


#form-div {
    max-width: fit-content;
    border: black solid 1px;
    padding: 0% 2%;
    background-color: greenyellow;
}

select {
    max-width: 100px;
}

form > div {
    margin-bottom: 5px;
}

.texts {
    width: 0px;
}

input[type=submit] {
    background-color: orange;
    border: 1px solid red;
    padding: 5px;
    color: black;
    display: flex;
    justify-content: center;
}

input[type=submit]:hover {
    background-color: green;
    color: orange;
}

#signup-div {
    display: inline-block;
}

/*Responsiveness*/

@media screen and (max-width: 1200px) {

   .nav-a {
    height: 45px;
    }

    /*National Parks*/

    .recommended {
        margin: auto 8%;
    }

    figcaption {
        max-width: 150px;
    }
} 

@media screen and (max-width: 950px) {

    h1 {
        font-size: 60px;
    }

    #home-div-photos {
        column-count: 2;
    }

    .why-visit-photos {
        width: 90%;
        margin: 10px 0px;
    }

    td, tr, th {
        padding: 1px 1px;
        background-color: orange;
    }

    /*National Parks*/

    .recommended {
        margin: auto 2%;
    }

    .parks-images {
        width: 15vw;
        height: 120px;
        border-radius: 50%;
    }
}


@media screen and (max-width: 800px) {

    header {
        height: 200px;
    }

    h1 {
        font-size: 40px;
    }

    .nav-a {
        font-size: xx-small;
    }

    .heading {
        font-size: 20px;
    }

    #national-parks-map {
        width: 90vw;
        height: 50%;
    }
    
    table {
        width: 90vw;
    }

    td, tr, th {
        border: 1px black solid;
        font-size: xx-small;
        background-color: orange;
    }

    .footer-list i {
        font-size: 110%;
        margin: 0 20px;
        color: black;
        padding-top: 5px;
    }


    /*National Parks*/

    iframe {
        height: 60vh;
        width: 70vw;
    }

    .recommended {
        display: block;
    }

    .recommended > div {
        margin: 10px auto;
    }

    .div-parks-images {
        margin-top: 30px;
    }

    .parks-images {
        width: 15vw;
        height: 90px;
    }

    figcaption {
        font-size: 10px;
        max-width: 15vw;
    }
}

