@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@1&family=Nunito:wght@300&display=swap');

body {
    background-color: white;
    font-family: Alegreya, sans-serif;
    font-size: 1em;
}

header {
    height: 300px;
    background: url('../images/header.jpg') no-repeat center center;
    background-color: green;
    background-size: cover;
}

h1 {
    font-family: nunito, sans-serif;
    font-size: 80px;
    text-align: center;
    padding-top: 8%;
    color: orange;
}

nav {
    text-align: center;
}

.nav-a {
    color: black;
    background-color: orange;
    padding: 4px;
    border: solid black 1px;
    text-decoration: none;
    position: relative;
    top: 15px;
}

.nav-a:hover {
    background-color: greenyellow;
    color: black;
}

.heading {
    margin-top: 60px;
    color: green;
    font-family: nunito, sans-serif;
    text-align: center;
}

/* Home Page*/

#why-visit {
    height: 300px;
    text-align: center;
    margin-top: 5%;
}

#why-visit-p {
    margin: auto 10%;
    margin-bottom: 2%;
}

.why-visit-photos { 
    width: 20vw;
    margin: 3px;
}

#where {
    margin-top: 5%;
    text-align: center;
}

#national-parks-map {
    width: 500px;
    height: 600px;
}

#table-div {
    text-align: center;
    margin-top: 5%;
}

table {
    border: 1px black solid;
    margin-left: auto;
    margin-right: auto;
}

td, tr, th {
    border: 1px black solid;
    padding: 0 10px;
    background-color: orange;
}

/*Footer*/

footer {
    height: 50px;
    background-color: green;
    margin: auto;
}

.footer-list {
    padding-top: 10px;
}

.footer-list > li {
    display: inline;
}

.footer-list i {
    font-size: 200%;
    margin: 0 50px;
    color: black;
}

li > a {
    float: right;
}

#footer-list-p {
    font-size: 20px;
}


/*National Parks*/

#name > p {
    text-align: center;
    margin: 0% 5%;
}

iframe {
    height: 75vh;
    width: 65vw;
    margin: 2% 17vw 0%;
}

.recommended {
    margin: auto 12%;
    display: flex;
    justify-content: space-between;
}

.recommended > div {
    width: 230px;
    height: 275px;
    vertical-align: middle;
}

.hike-rec {
    background-color: greenyellow;
    border: 3px solid black;
    width: 33%;
    padding: 5px 5px 20px ;
}

h3 {
    border: 1px solid black;
}

ol {
    float: left;
    margin-left: 10%;
}

ol > li {
    padding-bottom: 5%;
}

.hike-link-div {
    text-align: center;
}

#hike-link {
    color: yellow;
    background-color: brown;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 20px;
}

.div-parks-images {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.parks-images {
    width: 15vw;
    height: 162px;
    border-radius: 50%;
}

.views-images {
    margin: 5% 2%;
}

figcaption {
    max-width: 210px;
}

/*Sign-up Form*/

#sign-up-heading {
    color: green;
    margin-top: 40px;
    font-family: nunito, sans-serif;
}

#form-div {
    max-width: fit-content;
    border: black solid 1px;
    padding: 0% 2%;
    background-color: greenyellow;
}

select {
    max-width: 100px;
}

form > div {
    margin-bottom: 5px;
}

input[type=submit] {
    background-color: orange;
    border: 1px solid red;
    padding: 5px;
    color: black;
    display: flex;
    justify-content: center;
}

input[type=submit]:hover {
    background-color: green;
    color: orange;
}

/*Responsiveness*/

@media screen and (max-width: 1200px) {

   nav {
    height: 70px;
    display: inline-flex;
   }

   .nav-a {
    margin: 0px 10px;
    padding: 1% 6px;
    }

    #why-visit-p {
        text-align: center;
    }

    #why-visit-photo {
        width: 200px;
        height: 200px;
        position: absolute;
    }

    .why-visit-photos {
        width: 200px;
        height: 200px;
        margin: 0 5px;
    }

    td, tr, th {
        border: 1px black solid;
        padding: 0px 5px;
        background-color: burlywood;
    }

    /*National Parks*/

    ol {
        width: 33vw;
        float: none;
        margin: 0% 30vw;
    }

    ol > li {
        padding-bottom: 0%;
    }

    .hike-map {
        width: 33vw;
        height: 300px;
        margin: 0px 33vw;
        margin-top: 15px;
    }

    #recommended {
        height: 420px;
        text-align: center;
    }

    #hike-link {
        margin: 26vw;
    }
}

@media screen and (max-width: 950px) {
    
    .nav-a {
        margin: 0px 10px;
        padding: 1px 6px;
    }

    #why-visit {
        height: fit-content;
    }

    #home-div-photos {
        column-count: 2;
        margin: 0px;
    }

    .why-visit-photos {
        height: fit-content;
        width: 90%;
        margin: 10px 0px;
    }

    td, tr, th {
        border: 1px black solid;
        padding: 0px 0px;
        background-color: burlywood;
    }

    .hike-map {
        margin: 3% 30%;
    }
}

@media screen and (max-width: 800px) {
    
    body {
        font-size: 10px;
    }

    h1 {
        font-size: 50px;
        position: relative;
        top: 15%;
    }

    nav {
        height: 70px;
        margin-bottom: 10px;
    }

    .nav-a {
        margin: 0% 1%;
    }

    #national-parks-map {
        width: 90vw;
        height: 50%;
    }
    
    table {
        font-size: 6px;
    }
    .footer-list i {
        font-size: 150%;
        margin: 0 10px;
        color: black;
}

    /*National Parks*/

    iframe {
        height: 50vh;
        width: 60vw;
    }

    .hike-map {
        height: 200px;
    }

    #recommended {
        text-align: center;
        height: 550px;
    }

    #hike-link {
        margin: 32vw;
        margin-top: 100px;
    }

    ol {
        widt: 90vw;
    }

    .div-parks-images > div {
        vertical-align: middle;
    }
    .parks-images {
        width: 10vw;
        height: auto;
        padding: 0% 2vw;
    }

    figcaption {
        font-size: 5px;
    }
}

