@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

body {
    background-color: green;
}

header {
    height: 300px;
    background: url(/assets/images/header.jpg) no-repeat center center;
    background-color: green;
    background-size: cover;
}

h1 {
    font-family: nunito, sans-serif;
    font-size: 70px;
    text-align: center;
    padding-top: 8%;
    color: yellow;
}

nav {
    height: 40px;
    text-align: center;
}

a {
    color: yellow;
    background-color: darkred;
    padding: 10px;
    border: solid black 1px;
    text-decoration: none;
}

a:hover {
    background-color: greenyellow;
    color: black;
}

h2 {
    color: yellow;
}

/* Home Page*/

#why-visit {
    height: 300px;

}

#why-visit-p {
    width: 65%;
    clear: left;
}

#why-visit-photo {
    height: 285px;
    width: 30%;
    float: right;
    margin-right: 5%;
    position: relative;
    bottom: 90px;
}

.why-visit-photos {
    height: 190px;
    margin: 3px;
}