@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@1&family=Nunito:wght@300&display=swap');

body {
    background-color: green;
    font-family: Alegreya, sans-serif;
    width: 1424px;
}

header {
    height: 300px;
    background: url(/assets/images/header.jpg) no-repeat center center;
    background-color: green;
    background-size: cover;
}

h1 {
    font-family: nunito, sans-serif;
    font-size: 70px;
    text-align: center;
    padding-top: 8%;
    color: yellow;
}

nav {
    height: 40px;
    text-align: center;
}

a {
    color: yellow;
    background-color: darkred;
    padding: 10px;
    border: solid black 1px;
    text-decoration: none;
    position: relative;
    top: 10px;
}

a:hover {
    background-color: greenyellow;
    color: black;
}

.heading-home {
    color: yellow;
    font-family: nunito, sans-serif;
    padding: 0 40%;
}

/* Home Page*/

#why-visit {
    height: 300px;
    text-align: center;
    width: 100%;

}

#why-visit-p {
    width: 65%;
    clear: left;
    text-align: left;
}

#why-visit-photo {
    height: 289px;
    width: 30%;
    float: right;
    margin-right: 5%;
    position: relative;
    bottom: 96px;
}

.why-visit-photos {
    height: 190px;
    margin: 3px;
}

#where {
    margin-top: 50px;
    text-align: center;
    width: 100%;
}

#national-parks-map {
    width: 500px;
    height: 600px;
    padding: 0 30%;
}

#table-div {
    text-align: center;
}

table {
    border: 1px black solid;
    position: relative;
    left: 5%;
}

td, tr, th {
    border: 1px black solid;
    padding: 10px;
    background-color: burlywood;
}